
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><link rel="stylesheet" type="text/css" href="../Content/css/ErrorPageTemplate.css" /><title>
	ERROR: Web Browser Out-Of-Date
</title></head>
<body>
    <table width="730" cellpadding="0" cellspacing="0" border="0">
        <!-- Error title -->
        <tr>
            <td id="infoIconAlign" width="60" align="left" valign="top" rowspan="2">
                <img src="../../Content/Images/IESecurityAlert_info.png" id="infoIcon" alt="Info icon">

            </td>
            <td id="mainTitleAlign" valign="middle" align="left" width="*">
                <h1 id="mainTitle">Web Browser Out-Of-Date</h1>
            </td>
        </tr>
        <tr>
            <!-- This row is for HTTP status code, as well as the divider-->
            <td id="http404Align" class="errorCodeAndDivider" align="right">

                <id id="http404">&nbsp;<!--[if lt IE 7]>Critical <![endif]-->Security Alert</id>
                <div class="divider">
                </div>
            </td>
        </tr>
        <!-- Error Body -->
        <tr>
            <td>

                &nbsp;
            </td>
            <td id="likelyCausesAlign" valign="top" align="left">
                <h3 id="likelyCauses">Most likely causes:</h3>
                <ul>
                    <li id="causeErrorInAddress">The web browser that you are using is <b>
                        <!--[if lt IE 7]>critically <![endif]-->
                        out-of-date</b>.</li>

                    <li id="causeLinkOutOfDate">Automatic Updates may be disabled on your computer.</li>
                </ul>
            </td>
        </tr>
        <!-- What you can do -->
        <tr>
            <td>
                &nbsp;

            </td>
            <td id="whatToTryAlign" valign="top" align="left">
                <h2 id="whatToTry">What you can try:</h2>
            </td>
        </tr>
        <!-- retype address -->
        <tr>
            <td>

                &nbsp;
            </td>
            <td id="retypeAddressAlign" align="left" valign="middle">
                <h4>
                    <table>
                        <tr>
                            <td valign="top">
                                <img src="../../Content/Images/IESecurityAlert_bullet.png" border="0" alt="" class="actionIcon">
                            </td>

                            <td valign="top">
                                Turn on <a target="_blank" href="http://www.microsoft.com/protect/computer/updates/automatic.mspx">
                                    Automatic Updates</a> and <a target="_blank" href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">
                                        Download Microsoft Internet Explorer 7.0 or higher</a>.
                            </td>
                        </tr>
                    </table>

                </h4>
            </td>
        </tr>
        <!-- back to previous page -->
        <tr>
            <td>
                &nbsp;
            </td>
            <td align="left" valign="middle">

                <h4>
                    <table>
                        <tr>
                            <td valign="top">
                                <img src="../../Content/Images/IESecurityAlert_bullet.png" border="0" alt="" class="actionIcon">
                            </td>
                            <td valign="top">
                                <a target="_blank" href="http://www.mozilla.com/firefox?from=sfx&uid=256498&t=305">Download Firefox 3.0 or higher.</a>

                            </td>
                        </tr>
                    </table>
                </h4>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;

            </td>
            <td align="left" valign="middle">
                <h4>
                    <table>
                        <tr>
                            <td valign="top">
                                <img src="../../Content/Images/IESecurityAlert_bullet.png" border="0" alt="" class="actionIcon">
                            </td>
                            <td valign="top">

                                <a target="_blank" href="http://www.apple.com/safari/">Download Safari 3.0 or higher.</a>
                            </td>
                        </tr>
                    </table>
                </h4>
            </td>
        </tr>
        <tr>

            <td>
                &nbsp;
            </td>
            <td align="left" valign="middle">
                <h4>
                    <table>
                        <tr>
                            <td valign="top">
                                <img src="../../Content/Images/IESecurityAlert_bullet.png" border="0" alt="" class="actionIcon">

                            </td>
                            <td valign="top">
                                <a target="_blank" href="http://www.opera.com/">Download Opera 9.63 or higher.</a>
                            </td>
                        </tr>
                    </table>
                </h4>
            </td>

        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td align="left" valign="middle">
                <h4>
                    <table>
                        <tr>

                            <td valign="top">
                                <img src="../../Content/Images/IESecurityAlert_bullet.png" border="0" alt="" class="actionIcon">
                            </td>
                            <td valign="top">
                                <a target="_blank" href="http://www.google.com/chrome">Download Chrome.</a>
                            </td>
                        </tr>
                    </table>

                </h4>
            </td>
        </tr>
        <!-- InfoBlock -->
        <tr>
            <td id="infoBlockAlign" align="right" valign="top">
                &nbsp;
            </td>
            <td id="moreInfoAlign" align="left" valign="middle">

                <h4>
                    <table>
                        <tr>
                            <td valign="top">
                                <img src="../../Content/Images/IESecurityAlert_down.png" id="infoBlockIDImage" border="0"
                                    class="actionIcon" alt="More information">
                            </td>
                            <td valign="top">
                                <span id="moreInfoContainer"></span>
                                <id id="moreInformation">More information</id>

                            </td>
                        </tr>
                    </table>
                </h4>
                <div id="infoBlockID" class="infoBlock">
                    <p id="errorExplanation">This error means that the version of Internet Explorer on your
                        computer is <b>
                            <!--[if lt IE 7]>critical <![endif]-->
                            out-of-date</b>. The stability of your operating system <b>is at risk</b>, as
                        well as any <i>personal</i> and/or <i>financial data</i> that you may have stored
                        on your computer. </p>

                    <p id="moreInfoSeeHelp">For more information about Web Browser Security, see <a target="_blank"
                        href="http://www.mozilla.com/en-US/firefox/features.html#secure">Help</a>.</p>
                </div>
            </td>
        </tr>
    </table>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-109861-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>