    <div class="cont_width">
        <div class="footer_logo">
            &nbsp;
        </div>
        <div>
            <ul>
                <li>
                    <h4>Home </h4>
                </li>
            </ul>
            <ul>
                <li><h4>Terms of use</h4></li>
                <li>Privacy policy</li>
                <li>Terms and conditions</li>
            </ul>
        </div>
    </div>

