body
{
	font-family: "Segoe UI", "verdana", "arial";
	background-image: url(../Images/IESecurityAlert_background.jpg);
	background-repeat: repeat-x;
	background-color: #E8EAEF;
	margin-top: 20px;
	margin-left: 20px;
	color: #575757;
	margin: 0px none;
	padding: 0px none;
	}

#advBrowserWarning {
	width: 100%;	
	border: 0px none;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: "Segoe UI", Calibri, Verdana, Tahoma, Arial, Helvetica, Sans-serif, Sans;
	font-size: 14px;
	line-height: 24px;
	background: rgb(255,255,225) url(../Images/iconShield.png) top left no-repeat;
	z-index: 10000;
	border-bottom: 1px solid black;
	}

#advBrowserWarning a,
#advBrowserWarning a:link,
#advBrowserWarning a:visited,
#advBrowserWarning a:hover,
#advBrowserWarning a:active {
	color: black;
	text-decoration: none;
	}

body.tabInfo
{
	background-image: none;
	background-color: #F4F4F4;
}
a
{
	color: rgb(19,112,171);	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	margin-left: 0px;
	vertical-align: top;
}

a:link, a:visited
{
	color: rgb(19,112,171);
	text-decoration: none;
	vertical-align: top;
}

a:hover
{
	color: rgb(7,74,229);
	text-decoration: underline;
}

p
{
	font-size: 0.9em;
}
	
h1 /* used for Title */
{
	color: #4465A2;
	font-size: 1.1em;
	font-weight: normal;
	vertical-align:bottom;
	margin-top: 7px;
	margin-bottom: 4px;
}

h2 /* used for Heading in Main Body */
{
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 20px;	
	margin-bottom: 1px;
}

h3 /* used for text in main body */
{
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 10px;	
	margin-bottom: 1px;
}

h4 /* used for task links*/
{
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 12px;
	margin-bottom: 1px;
}

h5 /* used for Heading in InfoBlock */
{
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 1px;	
	font-size: 0.9em;
	color: #575757;
}


.actionIcon /* used for task link icons */
{
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 6px;
}

.infoBlock
{
	padding-left: 25px;
	font-size: 0.9em;
	display: block;
	line-height: 1.1;
	color: #575757;
}

.errorCodeAndDivider
{
	font-size: 0.7em;
	font-weight: normal;
	color: #787878;
}

ul, ol
{
	font-size: 0.9em;
	list-style-position: outside;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 1.3em;
}

.divider
{
	border-bottom: #B6BCC6 1px solid;
}