#ZFDebug_debug {
	font: 11px/1.4em Lucida Grande, Lucida Sans Unicode, sans-serif;
	position:fixed;
	bottom:5px;
	left:5px;
	color:#000;
}
#ZFDebug_debug ol {
	margin:10px 0px; padding:0 25px
}
#ZFDebug_debug li {
	margin:0 0 10px 0;
}
#ZFDebug_debug .clickable {
	cursor:pointer
}
#ZFDebug_toggler {
	font-weight:bold;
	background:#BFBFBF;
}
.ZFDebug_span {
	border: 1px solid #999;
	border-right:0px;
	background:#DFDFDF;
	padding: 5px 5px;
}
.ZFDebug_last {
	border: 1px solid #999;
}
.ZFDebug_panel {
	text-align:left;
	position:absolute;
	bottom:21px;
	width:600px;
	max-height:400px;
	overflow:auto;
	display:none;
	background:#E8E8E8;
	padding:5px;
	border: 1px solid #999;
}
.ZFDebug_panel .pre {
	font: 11px/1.4em Monaco, Lucida Console, monospace;
	margin:0 0 0 22px
}
#ZFDebug_exception {
	border:1px solid #CD0A0A;
	display: block;
}